---
layout: default
title: Horario
section_id: timetable
redirect_from:
  - /nosotros/user-page/
hours:
  - start: "08:00"
    end: "09:00"
  - start: "09:00"
    end: "10:00"
  - start: "10:00"
    end: "11:00"
  - start: "11:00"
    end: "12:00"
  - start: "12:00"
    end: "13:00"
  - start: "13:00"
    end: "14:00"
  - start: "17:00"
    end: "18:00"
  - start: "18:00"
    end: "19:00"
  - start: "19:00"
    end: "20:00"
  - start: "20:00"
    end: "21:00"
  - start: "21:00"
    end: "22:00"
  - start: "22:00"
    end: "22:30"
---
<div class='full parallax' style='background-image: url(images/timetable.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Horario" tagline="No te pierdas una clase" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Horario Musculación</h3>
      {% for day in site.data.contact.first.open %}
        <strong>{{day.days}}</strong>
        <p>
          {% if day.morning %} {{day.morning}} {% endif %}<br/>
          {% if day.afternoon %} {{day.afternoon}} {% endif %}
        </p>
      {% endfor %}
      <h3>Horario Actividades</h3>
      <div class='timetable'>
        <table>
          <tr>
            <th style="width: 55px;">Horas</th>
            {% for day in site.data.timetable %}
            <th>{{day.name}}</th>
            {% endfor %}
          </tr>
        {% for hour in page.hours %}
          <tr>
            <th>{{hour.start}}</th>
            {% for day in site.data.timetable %}
            <td>
              {% for activity in day.activities %}
                {% if activity.start < hour.end and activity.start >= hour.start %}
                <div class='activity' style="background-color: {{activity.color}}">
                  <span class="title">{{activity.title}}</span><br />
                  {% if activity.subtitle %}<span class="subtitle">{{activity.subtitle}}</span><br />{% endif %}
                  <span class="hour">{{activity.start}} - {{activity.end}}</span><br />
                </div>
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
