---
layout: default
title: Artes Marciales en Zaragoza
section_id: home
slides:
  - bg: images/slide-1.jpg
    title:
      klass: bottom-to-top
      text: Club Karate-Kan
    small_title:
      klass: bottom-to-top
      text: Tu Gimnasio de Artes Marciales
    buttons:
      klass: bottom-to-top
      items:
        - text: Sobre Nosotros
          link_to: sobre-nosotros.html
  - bg: images/slide-2.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Boxeo, Judo, Aikido, Krav Maga, K-1, MMA, BJJ...
    title:
      klass: bottom-to-top
      text: ¡Mucho más que Karate!
    buttons:
      klass: bottom-to-top
      items:
        - text: Actividades
          link_to: actividades/
        - klass: boxed
          text: Horario
          link_to: horario.html
  - bg: images/slide-3.jpg
    small_title:
      klass: bottom-to-top
      text: Pioneros en
    title:
      klass: bottom-to-top
      text: Karate Kyokushin
    buttons:
      klass: bottom-to-top
      items:
        - text: Ver la actividad
          link_to: actividades/karate-kyokushin.html
---
<section class='mod modDefaultSlider'>
  <div class='sequence' data-timeout='3000'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{slide.klass}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          <div class='small-title {{slide.small_title.klass}}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{slide.small_title.text}}</h2>
              </div>
            </div>
          </div>
          <div class='title {{slide.title.klass}}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{slide.title.text}}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{slide.buttons.klass}}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{button.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Noticias recientes" %}
      <div class='spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts limit:3 %}
      <article class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          <a href="{{post.url}}"><img alt="{{post.title}}" src="images/posts/{% if post.images == nil %}default.jpg{% else %}{{post.images.first}}{% endif %}" /></a>
          <div class='content'>
            <p class='date'><time datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%-d/%-m/%Y" }}</time></p>
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='/blog'>Ver más noticias</a>
      </p>
    </div>
  </div>
</section>

<div class="spacing"></div>

<section class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Nuestras Actividades" %}
      <div class="spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <div class='gallery-nav'>
      <ul>
        <li class='current'>
          <a data-cat='all' href='#'>Todos</a>
        </li>
        <li>
          <a data-cat='martial-art' href='#'>Arte Marcial</a>
        </li>
        <li>
          <a data-cat='contact-sport' href='#'>Deporte de Contacto</a>
        </li>
        <li>
          <a data-cat='fitness' href='#'>Fitness</a>
        </li>
      </ul>
    </div>

  <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-6">
      {% assign activities = site.activities | sort: 'position' %}
      {% for activity in activities %}
        <li class="{{ activity.klass }}">
          <a href='{{ activity.link_to }}'>
            <img alt="{{activity.title}}" src="{{ activity.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ activity.title }}</h3>
                <p>{{ activity.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Nuestros Servicios" %}
      <div class='spacing'></div>
    </div>
  {% include services.html %}
  </div>
</section>

<section class='full parallax' style='background-image: url(images/trainer.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Nuestros Profesores" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <ul class='small-block-grid-2 medium-block-grid-3 large-block-grid-5 columns'>
      {% assign trainers = site.trainers | sort: 'position' %}
      {% for trainer in trainers %}
       {% if trainer.activities.first %}
        <li class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="{{trainer.title}}" src="images/trainers/{{trainer.link}}.jpg" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{trainer.title}}</h3>
                <p>{{trainer.activities.first}}</p>
                <ul class='socials'>
                  <li>
                    <a href='entrenadores/{{trainer.link}}.html'>
                      <i class='fa fa-file-text-o'></i>
                    </a>
                  </li>
                  {% for social in trainer.socials %}
                    <li>
                      <a href='{{social.link}}' target="_blank">
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
