---
layout: default
title: Servicios
section_id: services
sitemap:
  priority: 0.9
---

<div class='full parallax' style='background-image: url(images/services.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Nuestros Servicios" tagline="No solo Artes Marciales" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    {% include services.html %}
  </div>
</div>
