---
layout: default
title: Servicios
section_id: services
redirect_from:
  - /2012-03-07-02-54-47/
  - /2012-03-07-02-54-47/entrenador-personal/
  - /2012-03-07-02-54-47/musculacion-fitness/
  - /2012-03-07-02-54-47/biblioteca/
  - /2012-03-07-02-54-47/plataforma-vibratoria/
  - /2012-03-07-02-54-47/tienda/
  - /2012-03-07-02-54-47/salud/
---

<div class='full parallax' style='background-image: url(images/services.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Servicios" tagline="No solo Artes Marciales" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    {% include services.html %}
  </div>
</div>
