---
layout: default
title: Sobre Nosotros
section_id: about
redirect_from:
  - /nosotros/
  - /nosotros/donde-estamos/
  - /nosotros/item/93-¿quienes-somos?/
  - /nosotros/club/
  - /nosotros/instalaciones/

testimonials:
  - quote: Muy buen ambiente y el nivel de enseñanza impresionante
    author: Pedro
  - quote: ¡El mejor gimnasio de Artes Marciales de Zaragoza!
    author: Santiago
  - quote: Es total, puedes entrenar y aprender diferentes técnicas con grandes maestros.
    author: Cristina
  - quote: Dojo pionero de Kyokushin karate en España
    author: Miguel

slides:
  - link: images/about/slide-1.jpg
  - link: images/about/slide-2.jpg
  - link: images/about/slide-3.jpg
  - link: images/about/slide-4.jpg
  - link: images/about/slide-5.jpg
  - link: images/about/slide-6.jpg
  - link: images/about/slide-7.jpg
  - link: images/about/slide-8.jpg
  - link: images/about/slide-9.jpg

text: "<p>Gracias a Shihan Antonio Piñero, a su labor y al Club Karate-Kan, hoy el Karate Kyokushin es conocido y practicado por miles de personas en España.</p>

  <p>Nacido en la ciudad de Zaragoza en 1944, comenzó su relación con el mundo del karate alrededor de 1960 en el London Karate Kai, con profesores como B. Boulton, S. Arnail y Loek Hollander. En Londres obtuvo su primer Dan, en el Crystal Palace ante el Maestro Masutatsu Oyama.</p>

  <p>Con su regreso a España formó parte del equipo nacional. No fue derrotado en ningún combate de los que participó en diferentes campeonatos internacionales.</p>

  <p>Cuando empieza a dedicarse a la enseñanza del Karate Kyokushinkai funda en su ciudad natal el Gimnasio de Karate Kan el año 1968 y es el primer Maestro Nacional de Kyokushinkai en España. Este mismo año Su Majestad el Rey de España D. Juan Carlos I, aceptó la Presidencia de Honor de su Club, previa petición por su parte y gracias a la amistad que les une.</p>

  <p>Su labor para la difusión de la escuela de Sosai Oyama es fundamental en su país. Son muy numerosos los alumnos que han recibido sus enseñanzas, tanto en el dojo Karate-Kan como en los diversos encuentros nacionales e internacionales por él organizados.</p>

  <p>En la actualidad, con un Octavo Dan, Shihan Antonio Piñero es el Presidente de Kyokushin Karate en España, Presidente de la European Kyokushin junto a Loek Hollander (9º Dan) y Vice-presidente de la Kyokushin World Federation.</p>

  <p>Hoy en día, gracias a todo lo mencionado anteriormente, Club Karate – Kan es un dojo referente en Karate Kyokushin en España. Con numerosas artes marciales y deportes de contacto impartidos en el centro, es uno de los más antiguos de Zaragoza. Maestros y profesores con muchos años de experiencia y testada profesionalidad, son los encargados de impartir todas estas disciplinas.</p>"
---
<div class='full parallax' style='background-image: url(images/about.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Sobre Nosotros" color="#fff" tagline="Conoce nuestra historia" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in page.slides %}
          <div class='slide'>
            <img alt="Instalaciones" src="/{{slide.link}}" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 columns justify'>
      <h3>Gimnasio Club Karate-Kan</h3>
      {{page.text}}
    </div>
  </div>
</div>
<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Lo que dicen nuestros clientes" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>
