---
layout: default
title: Sobre Nosotros
section_id: about
sitemap:
  priority: 0.8
redirect_from:
  - /nosotros/
  - /nosotros/donde-estamos/
  - /nosotros/item/93-¿quienes-somos?/
  - /nosotros/club/
  - /nosotros/instalaciones/
---
{% assign about = site.data.about.first %}
<div class='full parallax' style='background-image: url(images/about.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Sobre Nosotros" color="#fff" tagline="Conoce nuestra historia" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in about.slides %}
          <div class='slide'>
            <img alt="{{activity.title}}" src="{{site.url}}/{{slide.link}}" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 columns'>
      <h3>Gimnasio Club Karate-Kan</h3>
      {{about.content}}
    </div>
  </div>
</div>
<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Lo que dicen nuestros clientes" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in about.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>
