---
layout: default
title: Tarifas
section_id: tarifas
redirect_from:
  - /nosotros/tarifas/
sitemap:
  priority: 0.6
---
{% assign pricing = site.data.pricing %}
<div class='full parallax' style='background-image: url(images/pricing.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Tarifas" tagline="Matrícula y prueba gratuitas" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<section class='full'>
  <div class='row'>
  {% for price in pricing %}
    {% cycle 'openrow': '<div class="large-12 columns">', '', '', '' %}
      <div class='medium-6 large-3 columns'>
        <div class='mod modPriceBox {% if price.featured %} featured {% endif %}'>
          <div class='info'>
            <p class='level'>{{price.name}}</p>
            <p class='desc'>{{price.description}}</p>
            {% for cost in price.costs %}
            <p class='price'>
              <span class='dollar'>€</span>
              <span class='number'>{{cost.number}}</span>
              <span class='features'>{{cost.desc}}</span>
            </p>
            {% endfor %}
          </div>
          <div class='features'>
            <ul>
              {% for feature in price.features %}
              {% capture modulo %}{{forloop.index | modulo:2}}{% endcapture %}
              <li {% if modulo == '0' %} class='even' {% endif %}>{{feature}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% cycle 'closerow': '', '', '', '</div>' %}
  {% endfor %}
  </div>
</section>

<section class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Preguntas Frecuentes" %}
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for faq in site.data.faq %}
    {% cycle 'startrow': '<div class="large-12 columns">', '' %}
      <div class='small-12 medium-6 large-6 columns'>
        <div class='mod modIconText'>
          <div class='icon-text-simple'>
            <i class='fa fa-question-circle'></i>
            <h3>{{faq.question}}</h3>
            {{faq.answer}}
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% cycle 'endrow': '', '</div>' %}
    {% endfor %}
  </div>
</section>
<div class='four spacing'></div>
