---
layout: default
title: Horario
section_id: timetable
sitemap:
  priority: 0.6
hours:
  - start: "08:00"
    end: "09:30"
  - start: "09:30"
    end: "10:30"
  - start: "10:30"
    end: "12:00"
  - start: "13:15"
    end: "14:30"
  - start: "17:45"
    end: "18:45"
  - start: "18:45"
    end: "20:00"
  - start: "20:00"
    end: "21:15"
  - start: "21:15"
    end: "22:30"
---
<div class='full parallax' style='background-image: url(images/timetable.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Horario" tagline="No te pierdas una clase" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Horario</h3>
      <div class='timetable'>
        <table>
          <tr>
            <th style="width: 55px;">Horas</th>
            {% for day in site.data.timetable %}
            <th>{{day.name}}</th>
            {% endfor %}
          </tr>
        {% for hour in page.hours %}
          <tr>
            <th>{{hour.start}}<br />
              {{hour.end}}</th>
            {% for day in site.data.timetable %}
            <td>
              {% for activity in day.activities %}
                {% if activity.start < hour.end and activity.start >= hour.start %}
                <div class='activity' style="background-color: {{activity.color}}">
                  <span class="title">{{activity.title}}</span><br />
                  {% if activity.subtitle %}<span class="subtitle">{{activity.subtitle}}</span><br />{% endif %}
                  <span class="hour">{{activity.start}} - {{activity.end}}</span><br />
                </div>
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
