{% assign activity = (site.data.activities | where: "title", page.title | first) %}
{% assign trainers = (site.data.trainers | where: "activity", page.title) %}
<div class='full parallax' style='background-image:url(../images/activity_header.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title=activity.title tagline=activity.desc color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in activity.slides %}
          <div class='slide'>
            <img alt="" src="../{{slide.link}}" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3>{{activity.title}}</h3>
      <p>
      {{activity.content}}
      </p>
      <div class='spacing'></div>
      <a class='button small' href=''>Visit website</a>
    </div>
    <div class='large-4 columns'>
      <h4>Maestros</h4>
      <ul class='info'>
        {% for trainer in trainers %}
          <li>
            <div class='mod modTeamMember'>
              <div class='member'>
                <img class="avatar" alt="{{ trainer.name }}" src="../{{ trainer.image }}" />
                <div class='overlay'>
                  <div class='intro'>
                    <h3>{{trainer.name}}</h3>
                    <p>{{trainer.position}}</p>
                    <ul class='socials'>
                      {% for social in trainer.socials %}
                        <li>
                          <a href='{{social.link}}'>
                            <i class='fa fa-{{social.icon}}'></i>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class='two spacing'></div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
