{% assign half = site.data.services.size | divided_by:2 %}
<div class='row'>
  <div class='medium-6 columns'>
    {% for service in site.data.services limit:half %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <i class='fa fa-{{service.icon}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
        <div class='two spacing'></div>
      </div>
    {% endfor %}
  </div>
  <div class='medium-6 columns'>
    {% for service in site.data.services offset:half %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <i class='fa fa-{{service.icon}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
        <div class='two spacing'></div>
      </div>
    {% endfor %}
  </div>
</div>
