{% for service in site.data.services %}
{% cycle 'startrow': '<div class="large-12 columns">', '' %}
  <div class='small-12 medium-6 large-6 columns'>
    <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
      <div class='icon-text-simple'>
        <i class='fa fa-{{service.icon}}'></i>
        <h3>{{service.title}}</h3>
        <p>{{service.desc}}</p>
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
{% cycle 'endrow': '', '</div>' %}
{% endfor %}
