---
layout: default
---
{% assign trainer = site.data.trainers | where: "name", page.title | first %}
<div class='full parallax' style='background-image:url({{site.url}}/images/trainer.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title=trainer.name tagline=trainer.activities.first color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in trainer.slides %}
          <div class='slide'>
            <img alt="{{trainer.name}}" src="{{site.url}}/{{slide.link}}" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>{{trainer.name}}</h3>
      <figure class="trainer">
        <img alt="{{trainer.name}}" src="{{site.url}}/images/trainers/{{trainer.link}}.jpg" />
      </figure>
      {{content}}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
